:where(.action-item) {
  cursor: pointer;
  color: var(--accent-400);
  height: 20px;
  border-radius: 4px;
  transition: 500ms;
  font-weight: var(--font-weight, 400);
  &.active {
    background-color: var(--primary-700);
    --font-weight: 500;
  }
  &.disabled {
    cursor: not-allowed;
    background-color: transparent;
  }
}
