.action-header {
  gap: 1rem;
  .action-input {
    height: 100%;
    border: none;
    padding: 0 0.5rem;
    box-sizing: border-box;
    margin: 2px;
    margin-left: 1rem;
    border-radius: 4px;
  }
}
