// colors
$colors: (
  "primary": #15846e,
  "secondary": #d59258,
  "accent": #ffffff,
  "action": #292999,
  "action-fg": #ffffff,
  "danger": #d04141,
  "danger-fg": #000000,
);

$font-weights: (
  "light": 400,
  "medium": 500,
  "bold": 700,
);

$navbar-height: 70px;
