// colors
$colors: (
  "primary": #15846e,
  "secondary": #483c3c,
  "accent": #ffffff,
  "action": #292999,
  "action-fg": #ffffff,
  "danger": #d04141,
  "danger-fg": #000000,
);

$navbar-height: 50px;
$secondary-navbar-height: 40px;
