@use "../abstracts/fonts" as fonts;
@use "../abstracts/variables" as variables;

:root {
  @each $font-weight, $font-value in fonts.$font-size-map {
    --fs-#{$font-weight}: #{$font-value + "em"};
    @at-root .font-#{$font-weight} {
      font-size: var(--fs-#{$font-weight});
    }
  }

  @each $weight, $value in variables.$font-weights {
    --fw-#{$weight}: #{$value};
    @at-root .font-weight-#{$weight} {
      font-weight: $value;
    }
  }
}

.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
