$font-weights: (
  "light": 400,
  "medium": 500,
  "bold": 700,
);

@each $weight, $value in $font-weights {
  .font-weight-#{$weight} {
    font-weight: $value;
  }
}

$headline-fonts: (
  "h1": var(--fs-600),
  "h2": var(--fs-550),
  "h3": var(--fs-500),
  "h4": var(--fs-450),
  "h5": var(--fs-400),
  "h6": var(--fs-350),
  "p": var(--fs-350),
);

@each $element, $font-size in $headline-fonts {
  #{$element} {
    font-size: $font-size;
  }
}
